<div id="<%= dom_id property %>" class="mb-8 p-2 border bg-gray-800 text-gray-200 rounded flex">
  <div class="w-64 h-64 object-cover overflow-y-hidden">
    <% if property.photo.attached? %>
      <%= cl_image_tag property.photo.first.key, :width=>300, :crop=>"fill"  %>
    <% else %>
      <%= image_tag ('house-illustration') %>
    <% end %>
  </div>
  <div>
    <p>
      <strong>Price:</strong>
      <%= "#{property.price} #{property.currency}"  %>
    </p>
      <%= property.address %>
    <div class="flex">
      <p class="mr-4">🛌<%= property.bed %></p>
      <p class="mr-4">🛀<%= property.bath %></p>
      <p class="mr-4">📐<%= "#{property.surface_area} m2" %></p>
      <p><%= property.floor %>
    </div>
  </div>
</div>
