<div id="<%= dom_id property %>" class="mb-8 p-2 border bg-gray-800 text-gray-200 rounded">
  <p>
    <strong>Price:</strong>
    <%= "#{property.price} #{property.currency}"  %>
  </p>
    <%= property.address %>
  <div class="flex">
    <p class="mr-4">🛌<%= property.bed %></p>
    <p class="mr-4">🛀<%= property.bath %></p>
    <p class="mr-4">📐<%= "#{property.surface_area} m2" %></p>
    <p><%= property.floor %>
  </div>
</div>
